@use "../base/colors" as *;

.btn {
  background: linear-gradient(90deg, $blurple-gradient);
  color: white;
  transition: background 0.3s;
}

.pdf-btn-container {
  button {
    width: 100%;
    max-width: 40rem;
  }
  margin-bottom: 3rem;
}

.location-btn {
  margin-top: 2rem;
}

.refetch-btn {
  margin-left: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.anim-blue-btn {
  background: linear-gradient(
    270deg,
    #5f61ff,
    #6566ff,
    #7b7cff,
    #c4c4ff,
    #8f90ff,
    #8a5fff
  );
  background-size: 300% 300%;
  border: none;
  color: white;
  animation: gradient-animation 12s ease infinite;
}

.outline {
  background: none;
  border: 2px solid #007bff;
  color: #007bff;
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
}
