// Gradients
$orange-gradient-loop: #ff0000, #ff3300, #ff6600, #ff9900, #ffcc00, #ff9900,
  #ff6600, #ff3300, #ff0000;
$orange-gradient: #ff0000, #ff3300, #ff6600, #ff9900, #ffcc00;
$rainbow-gradient: #ff0000, #ff8c00, #ffff00, #00ff00, #0000ff, #8b00ff;
$blurple-gradient: #5f61ff, #6566ff, #7b7cff, #c4c4ff, #8f90ff, #8a5fff;
