.summary-hero {
  margin-top: 3.5rem;
}

.hero {
  margin-top: 8.5rem;
}

.summary p {
  max-width: 35rem;
  margin: 0 auto;
}

.info {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  article {
    width: 100%;
    max-width: 40rem;
  }
}

.station {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stations-ul {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    hgroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.iframe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-accordions {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  details {
    max-width: 30rem;
  }
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navbar {
  ul {
    display: flex;
    align-items: center;
    padding: 0;

    li {
      height: 100%;
    }
  }
}
